:root {
    --bg: #1a1a1a;
    --copy: #fff;
    --light: #edf1e8;
    --dark: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Neue Haas Grotesk Display Pro";
    background-color: rgba(38, 38, 38, 0.361);
    color: white;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 1.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 0.5em;
}

.home {
    width: 100vw;
    height: 100svh;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home h1 {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 20vw;
    font-weight: bolder;
    letter-spacing: -0.5rem;
    line-height: 1;
    clip-path: (0 0, 100% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

.home h1 .char {
    position: relative;
    will-change: transform;
}

.projects {
    width: 100vw;
    height: 100%;
    min-height: 100svh;
    background-color: rgb(31, 31, 31);
    padding: 20em 1em;
}

.images {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.info {
    width: 100vw;
    height: 100svh;
    background-color: rgb(31, 31, 31);
    display: flex;
}

.col {
    flex: 1;
}

.col:nth-child(2) {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col p {
    font-weight: 500;
    font-size: 2rem;
    color: whitesmoke;
}

.col p .line {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.col p .line span {
    position: relative;
    will-change: transform;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none !important;
}

::view-transition-group(root) {
    z-index: auto !important;
}

::view-transition-image-pair(root) {
    isolation: isolate;
    will-change: transform, opacity, clip-path;
    z-index: 1;
}

::view-transition-new(root) {
    z-index: 10000;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}

.container h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.075rem;
    line-height: 1.125;
}

.container h3 {
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 1.125;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--light);
    will-change: background-color;
    color: var(--dark);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .hero,
.container .outro {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    align-content: center;
    text-align: center;
}

.container .hero h1,
.container .outro h1 {
    width: 75%;
    margin: 0 auto;
}

.container .outro {
    background-color: var(--dark);
    color: var(--light);
}

.marquee {
    position: relative;
    width: 100%;
    height: 50svh;
    overflow: hidden;
}

.marquee-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    width: 150%;
    height: 100%;
}

.marquee-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1;
    will-change: transform;
}

.marquee-img {
    flex: 1;
    width: 100%;
    aspect-ratio: 5/3;
}

.horizontal-scroll {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.horizontal-scroll-wrapper {
    position: relative;
    width: 300%;
    height: 100svh;
    display: flex;
    will-change: transform;
}

.horizontal-slide {
    flex: 1;
    height: 100%;
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.horizontal-slide:not(.horizontal-spacer) {
    background-color: var(--dark);
    color: var(--light);
}

.horizontal-slide .col:nth-child(1) {
    flex: 3;
}

.horizontal-slide .col:nth-child(2) {
    flex: 2;
}

.horizontal-slide .col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-slide .col h3,
.horizontal-slide .col img {
    width: 75%;
}

.horizontal-slide .col img {
    height: 75%;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2.25rem;
        letter-spacing: -0.05rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container .hero h1, .container .outro h1 {
        width: 100%;
    }

    .marquee-wrapper {
        width: 300%;
    }

    .horizontal-slide {
        padding: 4rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .horizontal-slide .col:nth-child(1){
        align-items: flex-start;
    }

    .horizontal-slide .col h3 {
        width: 100%;
    }

    .horizontal-slide .col img {
        width: 100%;
        height: 100%;
    }
}